@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nixie+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Prosto+One&family=Short+Stack&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f7f6;
    background-image: url(banderole.jpg);
    padding: 40px 20px;
    margin: 0;
    align-items: flex-start;
    padding: 40px 20px;
    margin: 0;
}

/* FORMULAIRE */

.container {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%;
}

h1 {
    color: #334e68;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #5d9cec;
    padding-bottom: 10px;
    font-size: 1.8em;
}

h2 {
    color: #334e68;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 1.8em;
}

h3 {
    color: #5d9cec;
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-size: 1.5em;
}

fieldset {
    border: 1px solid #dcdcdc;
    margin-bottom: 25px;
    border-radius: 8px;
}

fieldset:hover {
    border-color: #5d9cec;
}

legend {
    color: #5d9cec;
    font-weight: bold;
    padding: 0 10px;
    font-size: 1.1em;
}

.section-identite legend { background-color: #e6f7ff; padding: 5px 15px; border-radius: 5px; }
.section-contact legend { background-color: #e6f7ff; padding: 5px 15px; border-radius: 5px; }
.section-epreuve legend { background-color: #e6f7ff; padding: 5px 15px; border-radius: 5px; }
.section-panier legend { background-color: #e6f7ff; padding: 5px 15px; border-radius: 5px; }


.paragraphes {
    font-size: 0.7em;
    color: #777;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
}


label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
    font-size: 1em;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #5d9cec;
    box-shadow: 0 0 5px rgba(93, 156, 236, 0.5);
    outline: none;
}

button[type="submit"] {
    background-color: #5d9cec;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

button[type="button"] {
    background-color: #5d9cec;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

button[type="submit"]:hover {
    background-color: #407ac9;
    transform: translateY(-2px);
}

button[type="button"]:hover {
    background-color: #407ac9;
    transform: translateY(-2px);
}

span {
    color: red;
    font-size: 0.9em;
    margin-left: 5px;
}

/* PANIER */

.article-panier {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%;
}