@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nixie+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Prosto+One&family=Short+Stack&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f7f6;
    padding: 40px 20px;
    margin: 0;
}

/* EN-TETE */

h1 {
    color: #334e68;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #5d9cec;
    padding-bottom: 10px;
    font-size: 1.8em;
}

/* FORMULAIRE */

h2 {
    color: #334e68;
    text-align: center;
    margin: auto;
    padding: auto;
    padding-bottom: 30px;
}

fieldset {
    border: 1px solid #dcdcdc;
    margin-bottom: 25px;
    border-radius: 8px;
}

legend {
    color: #5d9cec;
    font-weight: bold;
    padding: 0 10px;
    font-size: 1.1em;
}

.paragraphes {
    color: #334e68;
    font-size: 0.5em;
}

.formulaire {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7em;
}

div {
    margin-top: 15px;
}

button {
    background-color: #5d9cec;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #4a8ad4;
}

span {
    color: red;
    font-size: 0.9em;
    margin-left: 5px;
}

.article-formulaire {
    max-width: 800px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* PANIER */

.article-panier {
    background-color: white;
    max-height: 12em;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}