@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nixie+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Prosto+One&family=Short+Stack&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 20px;
    margin: 0;
}